<a href="https://colab.research.google.com/github/ezhil479/kaniyam/blob/main/Tuple_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

One sunny morning, the adventurous family decides to document their recent trips. They open their magical photo album and start adding new snapshots.

Creatin Snapshots

In [2]:
# Snapshots of the family's adventures
   # place date description
ooty_trip = ("Ooty", "2024-1-1", "Botanical Garden")
munnar_trip = ("munnar", "2024-06-06", "Eravikulam National Park")
manjolai_trip = ("Manjolai", "2024-06-09", "Hills station")

print("Ooty Trip", ooty_trip , "Type is: ", type(ooty_trip))

Ooty Trip ('Ooty', '2024-1-1', 'Botanical Garden') Type is:  <class 'tuple'>

In [3]:
photo_album = [ooty_trip, munnar_trip, manjolai_trip]
print(photo_album)

[('Ooty', '2024-1-1', 'Botanical Garden'), ('munnar', '2024-06-06', 'Eravikulam National Park'), ('Manjolai', '2024-06-09', 'Hills station')]

In [ ]:
print(type(photo_album))

Noon : Recalling memories

At noon, the family gathers around the table and starts recalling details of their ooty trip

Accessing Elements:
Location: Ooty, Date: 2024-07-01, Description: visited botanical garden

In [5]:
# Accessing elements in a tuple
print(ooty_trip)

('Ooty', '2024-1-1', 'Botanical Garden')

In [7]:
Location = ooty_trip[0]
date = ooty_trip[1]
description = ooty_trip[2]

print("Location: ", Location)
print("Date: ", date)
print("Description: ", description)

Location:  Ooty
Date:  2024-1-1
Description:  Botanical Garden

Afternoon: sharing stories
In the afternoon, they decide to share the details of the munnar trip
by unpacking the snapshot into separeate parts

Unpacking tuples

In [8]:
print(munnar_trip )

('munnar', '2024-06-06', 'Eravikulam National Park')

In [9]:
name, age = "ezhil", 32
print(name, age)

ezhil 32

In [11]:
name = "ezhila",32
print(name)

('ezhila', 32)

In [12]:
location, date, description = munnar_trip
print("Location: ", location)
print("Date: ", date)
print("description: ", description)

Location:  munnar
Date:  2024-06-06
description:  Eravikulam National Park

After some time: they decided to change the value of an ooty trip

In [14]:
print(ooty_trip)

('Ooty', '2024-1-1', 'Botanical Garden')

In [16]:
# tuple is immutable
ooty_trip[2]  = "Doddabetta"

TypeError: 'tuple' object does not support item assignment

Tuples in Python are immutable, meaning that once a tuple is created,
its elements cannot be changed. However, there are some workarounds to
 "change" values within a tuple by converting it to a mutable data type,
  such as a list, making the change, and then converting it back to a
  tuple.

Evening: Combining Adventures

Concatenating Tuples

In [17]:
combined_trip = ooty_trip + munnar_trip
print(combined_trip)

('Ooty', '2024-1-1', 'Botanical Garden', 'munnar', '2024-06-06', 'Eravikulam National Park')

# checking membership

In [18]:
print(photo_album)

[('Ooty', '2024-1-1', 'Botanical Garden'), ('munnar', '2024-06-06', 'Eravikulam National Park'), ('Manjolai', '2024-06-09', 'Hills station')]

In [19]:
is_ooty_photo_present = ooty_trip in photo_album
print(is_ooty_photo_present)

True

In [20]:
# finding length of the album
print(len(photo_album))

3

In [21]:
for val in ooty_trip:
  print(val)

Ooty
2024-1-1
Botanical Garden

In [22]:
dir(ooty_trip)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [23]:
# find dict methods
d = {}
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [24]:
print(type(name))

<class 'tuple'>

SET

The botanical garden and rose garden : Understand SETs

Introduction to the Botanical Garden We are planning to
opening a botanical garden with flowers which will
attract people to visit.

Morning: Planting Unique Flowers One morning, we decides
to plant flowers in the garden. They ensure that each
flower they plant is unique.

In [25]:
botanical_garden = {"Rose", "Hibiscus", "Lily"}

In [26]:
print(botanical_garden)

{'Lily', 'Hibiscus', 'Rose'}

Noon: Adding more flowers
At noon, they find some more flowers and add them to the garden, making sure they only add flowers that aren't
already there.

In [27]:
# add more flowers to the enchanted garden
botanical_garden.add("Jasmine")
botanical_garden.add("Marigold")

print(botanical_garden)

{'Marigold', 'Rose', 'Jasmine', 'Lily', 'Hibiscus'}

In [28]:
print(type(botanical_garden))

<class 'set'>

In [29]:
botanical_garden.add("Jasmine")

In [30]:
# duplicates are not allowed
print(botanical_garden)

{'Marigold', 'Rose', 'Jasmine', 'Lily', 'Hibiscus'}

In [32]:
# Removing unwanted plants
botanical_garden.remove("Lily")
print(botanical_garden)

{'Marigold', 'Rose', 'Jasmine', 'Hibiscus'}

In [33]:
# elements are not available
botanical_garden.remove("Lotus")

KeyError: 'Lotus'

Night: Checking flower types

In [35]:
# checking flower membership

is_lotus_in_botanical_garden = "Lotus" in botanical_garden
print(is_lotus_in_botanical_garden)

False

In [36]:
is_lotus_in_botanical_garden = "Rose" in botanical_garden
print(is_lotus_in_botanical_garden)

True

Comparing with Rose garden

In [37]:
# neighbor's rose garden
rose_garden = {"Rose", "Jasmine", "Lotus"}
print(rose_garden)

{'Lotus', 'Rose', 'Jasmine'}

In [38]:
print(botanical_garden)

{'Marigold', 'Rose', 'Jasmine', 'Hibiscus'}

In [40]:
common_flowers = rose_garden.intersection(botanical_garden)
print(common_flowers)

{'Rose', 'Jasmine'}

In [41]:
# flowers unique to their garden

flowers_different = botanical_garden.difference(rose_garden)
print(flowers_different)

{'Hibiscus', 'Marigold'}

In [45]:
# all unique flowers from the both garden
all_flowers = botanical_garden.union(rose_garden)
print(all_flowers)

{'Lotus', 'Rose', 'Jasmine', 'Marigold', 'Hibiscus'}

In [46]:
loki_garden = {"rose", "jasmine"}
if "rose" in loki_garden:
  loki_garden.remove("rose")

print(loki_garden)

{'jasmine'}